/*! normalize.css 2012-08-07T21:27 UTC | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */

p,
pre {
    margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */

q {
    quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7.
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7.
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* @override 
	http://localhost/~araquach/Paul%20Kemp%20Hairdressing/app/css/form.css */

/**
 * CSS styles for forms generated by yiic.
 *
 * The styles can be applied to the following form structure:
 *
 * <div class="form">
 *     <div class="row">
 *         <label for="inputid">xyz</label>
 *         <input name="inputid" id="inputid" type="text" />
 *         <p class="hint">hint text</p>
 *     </div>
 *     <div class="row">
 *         <label for="inputid">xyz</label>
 *         <input name="inputid" id="inputid" type="text" />
 *         <p class="hint">hint text</p>
 *     </div>
 *     <div class="row buttons">
 *         <label for="inputid">xyz</label>
 *         <input name="inputid" id="inputid" type="text" />
 *         <p class="hint">hint text</p>
 *     </div>
 * </div>
 *
 * The above code will render the labels and input fields in separate lines.
 * In order to render them in the same line, please use the "wide" form as follows,
 *
 * <div class="wide form">
 *     ......
 * </div>
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright Copyright &copy; 2008-2010 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 */


div.form input,
div.form textarea,
div.form select
{
	margin: 0.2em 0 0.5em 40px;
	padding: 5px;
}



div.form fieldset
{
	padding: 20px;
	margin: 0 0 10px 0;
    -moz-border-radius:7px;
    
}

div.form label
{
	font-size: 1em;
	display: block;
	margin-left: 40px;
	margin-bottom: 5px;
	font: bold 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: rgb(55,34,24);
}

div.form .row
{
	margin-bottom: 10px;
}

div.form .hint
{
	margin: 0;
	padding: 0;
	color: #999;
}

div.form .note
{
	font-style: italic;
	margin-left: 40px;
}

div.form span.required
{
	color: red;
}

div.form div.error label:first-child,
div.form label.error,
div.form span.error
{
	color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	border-color: #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
	background: #E6EFC2;
	border-color: #C6D880;
}


div.form .errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 40px 40px 40px;
	background: #FEE;
	font-size: 0.9em;
	
}

div.form .errorMessage
{
	color: red;
	font-size: 0.9em;
	margin-left: 40px;
}

div.form .errorSummary p
{
	font-size: 1.2em;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-weight: bold;
}

div.form .errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
	text-decoration: none;
	list-style-type: disc;
}

div.form .errorSummary ul li 
{
	display: block;
	list-style-type: disc;
}

div.wide.form label
{
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 100px;
}

div.wide.form .row
{
	clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
	clear: left;
	padding-left: 110px;
}

@charset "UTF-8";

/* CSS Document */

/* @group Clear Fix */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*--- ie6*-----*/
* html .group {
	height: 1%;
}

/*----- ie7 -----*/
*:first-child+html .group {
	min-height: 1px;
}

/* @end */

/* @group Main styling Group */

body {
	margin: 10px auto;
	width: 950px;
	background: url('/images/prospect/woman_montage.jpg') repeat left top #FFF;
}

body.man {
	margin: 10px auto;
	width: 950px;
	background: url('/images/prospect/man_montage.jpg') repeat left top #FFF;
}

.container {
	width: 100%;
	position: relative;
	border: 1px solid rgb(55,34,24);
	background-color: #FFF;
	height: 100%;
}

.red {
	color: #7b1d1d;
}

h1, h2, h3, h4, h5, h6 {
	font-family: NotethisRegular;
	color: rgb(55,34,24);
}

p {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.4em;
	font-size: 1.2em;
}

ul {
	padding: 0 0 0 1em;
}

ul li {
	line-height: 1.4em;
}

header {
	width: 500px;
	margin-top: 30px;
}

header h1 {
	font-size: 3px;
	text-indent: -9999px;
	margin: 0;
	padding: 0;
	width: 400px;
}

header h2 {
	margin-left: 40px;
	font-size: 1.7em;
	margin-top: 0;
}

#logo {
	width: 360px;
	height: 130px;
	margin-left: 40px;
	margin-bottom: 30px;
	background:  url('/images/logos/pk_logo.png') no-repeat left center;
	background-size: contain;
}

#prospect {
	position: relative;
}

#prospect-image {
	width: 380px;
	height: 300px;
	background: #f5f5f5 url('/images/prospect/woman_pic.jpg') no-repeat left top;
}

#prospect-image-man {
	width: 380px;
	height: 300px;
	background: #f5f5f5 url('/images/prospect/man_pic.jpg') no-repeat left top;
}

#prospect-info {
	float: left;
	clear: left;
	width: 350px;
	height: 100%;
	padding: 40px;
	margin-top: 0;
}

#prospect-entry {
	float: right;
	clear: right;
	position: relative;
	width: 400px;
	padding: 40px;
	padding-bottom: 80px;
	border-left: 3px solid rgb(55,34,24);
	min-height: 900px;
	margin-top: -200px;
}

#prospect-entry a.link {
	background-color: rgb(55,34,24);
}

#prospect-offer-image {
	width: 380px;
	height: 200px;
	background: #f5f5f5 url('/images/prospect/bc.jpg') no-repeat left top;
	margin-bottom: 40px;
}

#prospect-offer-image-man {
	width: 380px;
	height: 200px;
	background: #f5f5f5 url('/images/prospect/bformen.jpg') no-repeat left top;
	margin-bottom: 40px;
}

#taster-image {
	width: 380px;
	height: 475px;
	background: #f5f5f5 url('/images/prospect/taster.jpg') no-repeat left top;
	margin-bottom: 40px;
}

#prospect-entry h2 {
	font: 3.3em Georgia, "Times New Roman", Times, serif;
	margin: 40px 0;
}

a.link {
	background-color: rgb(55, 34, 24);
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
	color: #FFF;
	font-size: 1.4em;
	opacity: 1;
	margin: 40px 0 100px 0;
}

a.link:hover {
	opacity: .7;
}

a.to-site {
	background-color: none;
	text-decoration: none;
	color: rgb(55, 34, 24);
	font-size: 1.2em;
	opacity: 1;
}

a.to-site:hover {
	opacity: .7;
}

#prospect-entry p:last-of-type {
	margin-bottom: 50px;
}

#address_info {
	margin-top: 30px;
}

#address_info p {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	letter-spacing: .13em;
}

#address_info p.big {
	font: 2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: .16em;
	margin-top: 0;
}

#form h2 {
	font-size: 1.8em;
}

form#prospect-form input,
form#prospect-form label,
form#prospect-form select {
	margin-left: 0;
}

.row input,
.row textarea {
	line-height: 1em;
	padding: 5px;
	font-size: 1em;
	width: 90%;
}

.row.buttons input {
	width: 100px;
}

.row label{
	font-size: .8em;
	color: #424259;
	margin-bottom: 8px;
	margin-top: 10px;
}
.row label.required {
	font-size: .8em;
	color: #424259;
	margin-bottom: 8px;
	margin-top: 10px;
}

.row .regular label {
	width: 80%;
	float: left;
}

input#regular {
	float: right;
	width: 20px;
	margin-top: -20px;
	margin-right: 30px;
}

div.form .errorSummary {
	margin: 30px 0;
}

div.form .errorSummary p {
	margin: 0 !important;
	margin-bottom: 10px !important;
}

div.form .errorSummary ul {
	padding: 0;
}

div.form .errorSummary ul li {
	line-height: 1.5em;
}

div.form .errorMessage {
	margin-left: 0;
}

.ProspectSuccess {
	font-size: 1.4em;
}

.ProspectSuccess a {
	
}

/* @end */
/*# sourceMappingURL=prospect.css.map */
