@charset "UTF-8";

/* CSS Document */

/* @group Clear Fix */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*--- ie6*-----*/
* html .group {
	height: 1%;
}

/*----- ie7 -----*/
*:first-child+html .group {
	min-height: 1px;
}

/* @end */

/* @group Main styling Group */

body {
	margin: 10px auto;
	width: 950px;
	background: url('/images/prospect/woman_montage.jpg') repeat left top #FFF;
}

body.man {
	margin: 10px auto;
	width: 950px;
	background: url('/images/prospect/man_montage.jpg') repeat left top #FFF;
}

.container {
	width: 100%;
	position: relative;
	border: 1px solid rgb(55,34,24);
	background-color: #FFF;
	height: 100%;
}

.red {
	color: #7b1d1d;
}

h1, h2, h3, h4, h5, h6 {
	font-family: NotethisRegular;
	color: rgb(55,34,24);
}

p {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.4em;
	font-size: 1.2em;
}

ul {
	padding: 0 0 0 1em;
}

ul li {
	line-height: 1.4em;
}

header {
	width: 500px;
	margin-top: 30px;
}

header h1 {
	font-size: 3px;
	text-indent: -9999px;
	margin: 0;
	padding: 0;
	width: 400px;
}

header h2 {
	margin-left: 40px;
	font-size: 1.7em;
	margin-top: 0;
}

#logo {
	width: 360px;
	height: 130px;
	margin-left: 40px;
	margin-bottom: 30px;
	background:  url('/images/logos/pk_logo.png') no-repeat left center;
	background-size: contain;
}

#prospect {
	position: relative;
}

#prospect-image {
	width: 380px;
	height: 300px;
	background: #f5f5f5 url('/images/prospect/woman_pic.jpg') no-repeat left top;
}

#prospect-image-man {
	width: 380px;
	height: 300px;
	background: #f5f5f5 url('/images/prospect/man_pic.jpg') no-repeat left top;
}

#prospect-info {
	float: left;
	clear: left;
	width: 350px;
	height: 100%;
	padding: 40px;
	margin-top: 0;
}

#prospect-entry {
	float: right;
	clear: right;
	position: relative;
	width: 400px;
	padding: 40px;
	padding-bottom: 80px;
	border-left: 3px solid rgb(55,34,24);
	min-height: 900px;
	margin-top: -200px;
}

#prospect-entry a.link {
	background-color: rgb(55,34,24);
}

#prospect-offer-image {
	width: 380px;
	height: 200px;
	background: #f5f5f5 url('/images/prospect/bc.jpg') no-repeat left top;
	margin-bottom: 40px;
}

#prospect-offer-image-man {
	width: 380px;
	height: 200px;
	background: #f5f5f5 url('/images/prospect/bformen.jpg') no-repeat left top;
	margin-bottom: 40px;
}

#taster-image {
	width: 380px;
	height: 475px;
	background: #f5f5f5 url('/images/prospect/taster.jpg') no-repeat left top;
	margin-bottom: 40px;
}

#prospect-entry h2 {
	font: 3.3em Georgia, "Times New Roman", Times, serif;
	margin: 40px 0;
}

a.link {
	background-color: rgb(55, 34, 24);
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
	color: #FFF;
	font-size: 1.4em;
	opacity: 1;
	margin: 40px 0 100px 0;
}

a.link:hover {
	opacity: .7;
}

a.to-site {
	background-color: none;
	text-decoration: none;
	color: rgb(55, 34, 24);
	font-size: 1.2em;
	opacity: 1;
}

a.to-site:hover {
	opacity: .7;
}

#prospect-entry p:last-of-type {
	margin-bottom: 50px;
}

#address_info {
	margin-top: 30px;
}

#address_info p {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	letter-spacing: .13em;
}

#address_info p.big {
	font: 2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: .16em;
	margin-top: 0;
}

#form h2 {
	font-size: 1.8em;
}

form#prospect-form input,
form#prospect-form label,
form#prospect-form select {
	margin-left: 0;
}

.row input,
.row textarea {
	line-height: 1em;
	padding: 5px;
	font-size: 1em;
	width: 90%;
}

.row.buttons input {
	width: 100px;
}

.row label{
	font-size: .8em;
	color: #424259;
	margin-bottom: 8px;
	margin-top: 10px;
}
.row label.required {
	font-size: .8em;
	color: #424259;
	margin-bottom: 8px;
	margin-top: 10px;
}

.row .regular label {
	width: 80%;
	float: left;
}

input#regular {
	float: right;
	width: 20px;
	margin-top: -20px;
	margin-right: 30px;
}

div.form .errorSummary {
	margin: 30px 0;
}

div.form .errorSummary p {
	margin: 0 !important;
	margin-bottom: 10px !important;
}

div.form .errorSummary ul {
	padding: 0;
}

div.form .errorSummary ul li {
	line-height: 1.5em;
}

div.form .errorMessage {
	margin-left: 0;
}

.ProspectSuccess {
	font-size: 1.4em;
}

.ProspectSuccess a {
	
}

/* @end */