$purple: #8A4D76;
$pink: #FA7C91;
$brown: rgb(55,34,24);
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$family-sans-serif: "PT Sans";
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $brown;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$footer-background-colour: $primary;

@import "~bulma/bulma.sass";

/* General */

.inner.container {
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.navbar-item img {
	max-height: 4rem;
}

.navbar-dropdown {
	background-color: $primary;
}

.social {
	background-color: $primary;

	.column {
		text-align: center;
	}
}

.footer {
	padding-bottom: 0;
}

/* Home Page */

#home {
	background: url('/images/home/katharina.jpg') no-repeat left top #f5f5f5;
}

#home .card {
	background-color: $brown;
	color: #FFF;
	border-radius: 10px;
	height: 100%;

	p {
		color: #FFF;
	}
}

/* Salon Page */

.salon-image {
	background: url(/images/salon/salon_main.jpg) no-repeat left top #f5f5f5;
	background-size: cover; 
}



